DEBUG=*:error
PORT=3011
NODE_APP_INSTANCE=0
NODE_ENV=production

POSTGRES_USER=postgres
POSTGRES_DB=postgres
POSTGRES_PASSWORD=root
POSTGRES_PORT=5432

REDIS_PORT=6379

MONGODB_DATABASE=mongod
MONGODB_USER=mongod
MONGODB_PASS=root
MONGODB_PORT=27017

MONITORING_TOKEN=ds85ss83rt7hi5i30kl0
SPM_LOG_LEVEL=info|debug|error
SPM_LOG_TO_CONSOLE=true|false
NATS_SERVER_URL=nats://localhost:4222
